<div class="absolute w-screen">
    @if(settings?.show){
    @if(settings?.type === 'success'){
    <div class="p-4  text-sm text-center text-slate-50   bg-green-500 " role="alert">
        <span class="font-medium">Success!</span> {{settings?.message}}
    </div>
    }
    @if(settings?.type === 'info'){
    <div class="p-4 text-sm text-center text-slate-50   bg-blue-500 " role="alert">
        <span class="font-medium">Info!</span> {{settings?.message}}
    </div>
    }
    @if(settings?.type === 'error'){
    <div class="p-4 mb-4 text-sm text-center text-slate-50  bg-red-500 " role="alert">
        <span class="font-medium">Error!</span> {{settings?.message}}
    </div>
    }
    }

</div>