<div class="h-screen w-screen  bg-slate-100">
    <ng-container>
        <app-alert [settings]="alertSettings$ | async" />
    </ng-container>
    <div class="h-screen flex items-center justify-center bg-slate-100">
        <div class="w-full max-w-xs">
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" [formGroup]="form">
                <h1 class="text-2xl mb-4 font-normal text-slate-700">Login</h1>
                <div class="mb-6">
                    <app-input [settings]="userNameFormFieldSettings" [control]="getControl('username')" />

                    <app-error-msg controlName="username" />
                </div>
                <div class="mb-6">
                    <app-input [settings]="passwordFormFieldSettings" [control]="getControl('password')" />

                    <app-error-msg controlName="password" />
                </div>
                <div class="flex items-center justify-between">
                    <button (click)="onSubmit()"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="button">
                        Sign In
                    </button>
                    <span class="text-sm font-extralight text-slate-400">
                        New here?
                        <a  routerLink="/register" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
                            >
                            Sign up
                        </a>
                    </span>

                </div>
            </form>
            <p class="text-center text-gray-500 text-xs">
                &copy;2020 Acme Corp. All rights reserved.
            </p>
        </div>
    </div>
</div>